<form action="/predict" method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}
  <h1><strong>Pneumonia Detection</strong> Using Deep Learning</h1>

  <div class="form-group">
    <label for="title">Patient Name</label>
    {{ form.name(class_="form-controll") }}
  </div>
  <div class="form-group">
    <label for="caption">Age</label>
    {{ form.age(class_="form-controll") }}
  </div>
  <div class="form-group">
    <label for="caption">Hospital Name</label>
    {{ form.hospital(class_="form-controll") }}
  </div>
  <div class="form-group file-area">
    <label for="images">Image</label>
    {{ form.image(class_="form-controll") }}
  </div>

  <div class="form-group">
    {{ form.submit(class_="submit", value_="Run Inference") }}
  </div>
</form>

<link href="static/style.css" rel="stylesheet" type="text/css" />

<link
  href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700"
  rel="stylesheet"
  type="text/css"
/>
